@import '../../global.scss';

.contact {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  h1 {
    margin-bottom: 80px;
    font-size: 50px;

    @include mobile {
      overflow: hidden;
      font-size: 35px;
      margin-bottom: 50px;
        margin-top: 20px;
    }
  }
  h2 {
    @include mobile {
      flex-wrap: wrap;
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }
  }

  .container {
    width: 85%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
      margin-top: 50px;
      overflow: hidden;
    }

    .item {
      width: 220px;
      height: 170px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }

      @include mobile {
        width: 90px;
        margin-top: 0px;
      }

      img {
        width: 150px;
        height: 150px;
        margin-bottom: 5px;

        @include mobile {
          width: 120px;
          height: 120px;
        }
      }
    }
  }

  //up-arrow
  .arrow {
    margin-top: 75px;

    @include mobile {
      margin-top: 40px;
    }

    img {
      width: 30px;
      transform: rotate(180deg);
      animation: arrowBlink 2s infinite;
    }

    @keyframes arrowBlink {
      100% {
        opacity: 0;
      }
    }
  }
}
