.nav {
  width: 100%;
  height: 85px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  overflow: hidden;

  .wrapper{
    padding:0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    .left{
      display: flex;
      align-items: center;
      
      .logo{
  
        img {
          margin-top: 3px;
          display: flex;
          align-items: center;
          width: 90px;
          height: 90px;
          
        }
      }
    }

    .right{
      .menu {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        cursor: pointer;
      

        span{
          width: 100%;
          height: 3px;
          background-color: black;
          //this will allow the menu to rotate from the leftm otherwise it would be center
          transform-origin: left;
          //the animation when the menu is clicked
          transition: all 1s ease;
        }
      }
    }
  }
  // when the menu is clicked
  &.active{
    background-color: lightgray;
    color: white;

    .menu{
      span {
        //the first line in the span (line1)
        &:first-child{
          background-color: white;
          transform: rotate(45deg);
        }
        //this is the second line in the span (line2)
        &:nth-child(2){
          opacity: 0;
        }
        //the last line in the span (line3)
        &:last-child{
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
