.app {
  height: 100vh;

}

.sections {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: lightblue;
  position: relative;
  top: 50px;

}

.sections > * {
  width: 100vw;
  height: calc(100vh - 50px);
}