.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: lightblue;
    position: relative;
    top: 50px;
    //scrolling effects
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    //take out the scroll bar on all browsers! 
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }

    

    > * {
      width: 100vw;
      height: calc(100vh - 50px);
      scroll-snap-align: start;
    }
  }
}
